* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.header {
	height: 100%;
	
}

#head-img {
	min-width: 100%;
    height: auto;
}

input {
	min-width: 100%;
	margin-bottom: 20px;
}

a {
	word-wrap: break-word;
}

